<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Software Innovative Ideas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="..\scripts\jquery\dist\jquery.js"></script>
    <link rel="stylesheet" href="..\scripts\bootstrap\dist\css\bootstrap.css">
    <script src="..\scripts\bootstrap\dist\js\bootstrap.min.js"></script>
    <link rel="stylesheet" href="..\scripts\bootstrap\dist\css\website\landing.css">
    <script src="..\scripts\services\test.js"></script>
</head>

<body>
    <input type="hidden" value={{userid}} name="id" placeholder=" " class="form-username form-control" id="form-id" Required>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Software Innovative Ideas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./myprofile.html">Silindokuhle Nkabinde<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addidea/{{userid}}">Post</a>
                </li>
                {% if role == "administrator" %}
                <li class="nav-item">
                    <a class="nav-link" href="/topics/{{userid}}">topics</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/logout/">logout</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>
        </div>
    </nav>

    <div class="pt-5 container">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="pt-3 container">
                        <div class="pb-3 card">
                            <h5 class="card-header"><a href="#">Test User</a></h5>
                            <div class="card-body">
                                <h4></h4>
                                <p class="card-text">We attack at sunrise.</p>
                                <div class="pb-4 container">
                                    <label for="comment"><b>Comments:</b></label>
                                    <h4>Slindo</h4>
                                    <p class="card-text">We attack at sunrise.</p>
                                    <h4>Sbuda</h4>
                                    <p class="card-text">What the hell.</p>
                                    <h4>Silindokuhle</h4>
                                    <p class="card-text">What the hell. <a href="#" class="btn btn-danger">Delete</a></p>
                                </div>
                                <a href="./landing.html" class="btn btn-secondary">Go Back</a>
                                <a href="#" onclick="">Like</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </div>

</body>
</html>