<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Software Innovative Ideas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="..\scripts\jquery\dist\jquery.js"></script>
    <link rel="stylesheet" href="..\scripts\bootstrap\dist\css\bootstrap.css">
    <script src="..\scripts\bootstrap\dist\js\bootstrap.min.js"></script>
    <link rel="stylesheet" href="..\scripts\bootstrap\dist\css\website\landing.css">
    <script src="..\scripts\services\test.js"></script>
</head>

<body>
    <input type="hidden" value={{userid}} name="id" placeholder=" " class="form-username form-control" id="form-id" Required>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Software Innovative Ideas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./myprofile.html">{{userdetails}}<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/addidea/{{userid}}">Post</a>
                </li>
                {% if role == "administrator" %}
                <li class="nav-item">
                    <a class="nav-link" href="/topics/{{userid}}">topics</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="/logout/">logout</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>-->
            </ul>
        </div>
    </nav>

    <div class="pt-5 container">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="pt-3 pb-5 container">
                        <div class="pb-3 card">
                            <h5 class="card-header"><a href="#">Edit Silindokuhle Nkabinde Details</a></h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <form action="/createaccont" width="50%" method="POST">
                                                <div class="form-group">
                                                    <label for="name">name</label>
                                                    <input type="text" placeholder="Silindokuhle" class="form-control" name="name" id="name" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="surname">Surname</label>
                                                    <input type="text" placeholder="Nkabinde" class="form-control" name="surname" id="surname" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="birthdate"> Birth Date </label>
                                                    <input type="date" class="form-control" name="birthdate" id="birthdate" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email"> Email </label>
                                                    <input type="email" class="form-control" name="email" id="email" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="number"> Number </label>
                                                    <input type="tel" class="form-control" name="number" id="number" style="font-size: 18pt; height: 35px; width:250px;"
                                                           pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" name="password" id="pwd" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="passwordTwo">Comfirm Password</label>
                                                    <input type="password" class="form-control" name="passwordTwo" id="passwordTwo" style="font-size: 18pt; height: 35px; width:250px;" required>
                                                </div>

                                                <button type="submit" class="btn btn-success">Save</button>
                                                <a class="btn btn-secondary btn-lg" href="./landing.html" role="button">Go back</a>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

    </div>

</body>
</html>